# --- Data ---
corpus_arxiv_html/
corpus_clean/
arxiv_ids.txt

index.bin
docs.bin
docs_map.txt
*.csv
freq_dict*.txt

src/stemmer_app
src/indexer
src/searcher
src/step*
src/*.o
src/*.exe
src/a.out
tests/run_tests

__pycache__/
*.pyc
venv/
.env

.vscode/
.idea/
*.swp
.DS_Store
*.log